.titulares{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(128, 88, 2);
}

.containerNavBar{
    background-color: rgb(202, 176, 26);
}

.itemNav{
    color:rgb(223, 183, 76) !important;
}
.itemNav:hover{
    color:rgb(168, 185, 8) !important;
}
